# Python cache
__pycache__/
*.py[cod]

# Media files
/media/

# Temporary files
*.tmp
*.temp
*.bak

# Virtual environment
env/
venv/
ENV/

# Coverage reports
coverage/
*.cover

# VS Code settings
.vscode/